<h2 class='text-center'><%= current_user.name %></h2>

<h3 class="text-center">Create a new request</h3>


    <div class="row center">
        <div class='col-sm-6'>
          <%= simple_form_for [@user, @user.requests.build], :html => { :class => 'form-horizontal' } do |f| %>
            <%= f.input :date, as: :date, order: [:month, :day, :year] %>
            <%= f.input :notes, as: :text %>

            <%= f.button :submit, :class => 'btn-success', data: {confirm: "You sure? You are about to message available substitutes."} %>
          <% end %>
        </div>
    </div>


<% if @requests.where(active: true).any? %>
  <h3>Requests Waiting to be Filled</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-sm">
        <tr>
          <th>Date Requested</th>
          <th>Notes</th>
          <th>Action</th>
        </tr>
    <% @requests.where(active: true, sub_claim: false).each do |request| %>
        <tr>
          <td><%= request.date.strftime('%D') %></td>
          <td><%= request.notes %></td>
          <td><%= link_to "Cancel", user_request_path(current_user, request), method: :delete, data: {confirm: "You sure?"}, class: "btn btn-warning btn-xs" %></td>
        </tr>
    <% end %>
    </table>
    </div>
<% end %>

<% if @future_requests.where(active: true, sub_claim: true).any? %>
<h3>Upcoming Filled Requests</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
      <tr>
        <th>Date</th>
        <th>Substitute</th>
        <th>Notes</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    <% @future_requests.where(active: true, sub_claim: true).each do |request| %>
      <tr>
        <td><%= request.date.strftime('%D') %></td>
        <% request.users.where(substitute: true).each do |user| %>
        <td><%= mail_to user.email, user.name %></td>
        <% end %>
        <td><%= request.notes %></td>
        <td><%= "Filled" %></td>
        <td><%= link_to "Cancel", user_request_path(current_user, request), method: :delete, data: {confirm: "You sure?"}, class: "btn btn-warning btn-xs" %></td>
      </tr>
    <% end %>
    </table>
  </div>
<% end %>



<% if @requests.where(active: false).any? %>
<h3>Closed Requests</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-hover table-sm">
      <tr>
        <th>Date Requested</th>
        <th>Notes</th>
        <th>Claimed by</th>
      </tr>
      <% @requests.where(active: false).each do |request| %>
      <tr>
        <td><%= request.date.strftime('%D') %></td>
        <td><%= request.notes %></td>
        <td><% request.users.where(substitute: true).each do |user| %>
          <%= user.name %>
          <% end %></td>
      </tr>
      <% end %>
    </table>
  </div>
<% end %>

<script type="text/javascript">
    $(function () {
        $('#datetimepicker4').datetimepicker();
    });
</script>
