<h2><%= @user.name %> - <%= "Grade".pluralize(@user.grades.count) %> - <% @user.grades.each do |grade|%> <%= grade.name %>   <% end %></h2>

<h3>Create a new request</h3>

<%= simple_form_for [@user, @user.requests.build], :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :date, as: :date, order: [:month, :day, :year]  %>
  <%= f.input :notes %>

  <%= f.button :submit, :class => 'btn-primary' %>

  <br>

  <h3>Active Requests</h3>
    <table class="table table-striped table-bordered">
      <tr>
        <th>Date</th>
        <th>Notes</th>
      </tr>
    <% @user.requests.where(active: true).each do |request| %>
      <tr>
        <td><%= request.date.strftime('%D') %></td>
        <td><%= request.notes %></td>
      </tr>
    <% end %>
    </table>
  <h3>Closed Requests</h3>
  <table class="table table-striped">
    <tr>
      <th>Date</th>
      <th>Notes</th>
    </tr>
  <% @user.requests.where(active: false).each do |request| %>
    <tr>
      <td><%= request.date.strftime('%D') %></td>
      <td><%= request.notes %></td>
    </tr>
  <% end %>
  </table>


<% end %>
